/*  DEFAULT VARIABLES  */
:root {
    --modulify-titlebar-height: 22px;
    --modulify-titlebar-background-color: #202225;
    
    --modulfiy-titlebar-button-width: 28px;
    --modulify-titlebar-button-background-color: transparent;
    --modulify-titlebar-button-background-color-hover: rgba(79,84,92,0.16);
    --modulify-titlebar-button-icon-color: #b9bbbe;
    --modulify-titlebar-button-icon-color-hover: #dcddde;

    --modulify-titlebar-button-exit-button-background-color-hover: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
    --modulify-titlebar-button-exit-icon-color-hover: #ffffff;

    --modulify-titlebar-wordmark-color: #72767d;
}


/*  TITLEBAR  */
/*  
    Fix Discord using margin instead of padding.
    Padding is required to change the titlebar background color,
    otherwise there's a black bar at the top, did not find a way to color
    that, possibly it's the color of the actual window, which I am unable to change.

    Also allow the changing of the background color and height.
*/
.titleBar-1it3bQ {
    height: var(--modulify-titlebar-height);
    margin-top: 0px;

    background-color: var(--modulify-titlebar-background-color);
}


/*  TITLEBAR BUTTONS  */
/*
    Titlebar buttons are weird. This fixes them. Instead of being
    positioned using the top property, their height is fixed
    and the titlebar's flex display can be used to align them.

    Also allow the changing of the background color, width and button svg color.
*/
.titleBar-1it3bQ > div:not(:first-child) {
    top: 0px;
    height: auto;
    width: var(--modulfiy-titlebar-button-width);

    background-color: var(--modulify-titlebar-button-background-color);
    color: var(--modulify-titlebar-button-icon-color);
}

/*
    On button hover.
*/
.titleBar-1it3bQ > div:not(:first-child):hover {
    background-color: var(--modulify-titlebar-button-background-color-hover);
    color: var(--modulify-titlebar-button-icon-color-hover);
}

/*
    Special hover case for exit button.
    Could have also used .winButtonClose-3Q8ZH5:hover, but this is more
    specific, meaning I don't have to use !important.
*/
.titleBar-1it3bQ > div:nth-child(2):hover {
    background-color: var(--modulify-titlebar-button-exit-button-background-color-hover);
    color: var(--modulify-titlebar-button-exit-icon-color-hover);
}


/*  TITLEBAR WORDMARK  */
/*
    The wordmark was also weird. Absolutely positioned for some reason.
    This kills the padding around it, as it was making the positioning weird,
    makes it positioned using the titlebar's display property, adjusts the order to make it
    appear on the left, pushes it to the far left, then centers it based
    on the navbar. Then flex centers the SVG inside.
*/
.wordmark-2u86JB {
    padding: 0;
    position: relative;
    order: 1;
    margin-right: auto;
    margin-left: 9px;
    display: flex;
    justify-items: center;
    align-items: center;

    color: var(--modulify-titlebar-wordmark-color);
}
